<!DOCTYPE HTML>
<html>
    <body>
        <div>All photos</div>
        {{#photos}}
            <b>{{id}}</b>
            <span>{{name}}</span>
            <span>{{imagePath}}</span>
            <i>{{tag}}</i>
        {{/photos}}
    </body>
</html>