<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>List of users</div>
    {{#users}}
        <div>
            <span>{{username}}</span>
            <span>{{roles}}</span>
            <a href="/user/{{id}}">Edit</a>
        </div>
    {{/users}}
</body>
</html>